body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 241, 228);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: sans-serif;
}

header {
    text-align: center;
    height: 240px;
    background: url(img/Dusk-NYC-Sample-1024x630.png) no-repeat center/cover;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
    font-style: italic;
}

h4 {
    margin-top: 4px;
}

.container {
    width: 700px;
    margin-top: 50px;
    border-radius: .5em;
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.561);
}

.inviteBox {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2.3em;
}

.invite {
    align-self: center;
    position: absolute;
    top: -20px;
    background-color: white;
    height: 38px;
    width: 313px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: .2em;
    box-shadow: 0px 2px 5px rgba(153, 153, 153, 0.582);
}

input[type="text"] {
    border: none;
    font-size: 1rem;
    margin-left: 3px;
    outline: none;
}

.submit {
    padding: .7em;
    color: white;
    background-color: rgb(108, 199, 199);
    border: none;
    border-radius: .2em;
    margin-right: 2px;
}

.container li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
}

.container li label {
    margin-left: auto;
    font-size: .8rem;
    color: #717171;
}

.container li {
    font-size: 2rem;
}

#invited {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-gap: 15px;
}

#invited .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.561);
    padding: .5em;
    background-color: white;
    border-radius: .3em;
    height: 125px;
}

#invited .card .conf label {
    font-size: 1rem;
    color: black;
}

#invited .card .conf {
    display: block;
}

#invited .card li {
    margin: 0;
}

#invited .card .edit,
#invited .card .remove {
    padding: .4em;
    border: none;
    border-radius: .3em;
    color: white;
}

#invited .card .edit {
    background-color: rgb(66, 170, 170);
    margin-right: 4px;
}

#invited .card .remove {
    background-color: rgb(145, 218, 218);
}